<div id="<%= dom_id apartment%>">
  <div>
    <strong>Name:</strong>
    <p><%= apartment.name %></p>
  </div>

  <div>
    <strong>Contact_person:</strong>
    <p><%= apartment.contact_person %></p>
  </div>

  <div>
    <strong>Location:</strong>
    <p><%= apartment.location %></p>
  </div>

  <div>
    <strong>Lat:</strong>
    <p><%= apartment.lat %></p>
  </div>
  
  <div>
    <strong>Long:</strong>
    <p><%= apartment.long %></p>
  </div>

  <div>
    <%= turbo_frame_tag 'edit-apartment' do %>
      <%= link_to 'Edit', edit_apartment_path %>
    <% end %>
  </div>

  <div>
    <%= turbo_frame_tag 'new-unit' do %>
      <%= link_to 'new unit', new_apartment_unit_path(apartment) %>
    <% end %>
  </div>

  <div>
    <h2>Units</h2>
    <%# render units %>
    <%= turbo_frame_tag 'units' do %>
      <%= link_to 'units', apartment_units_path(apartment) %>
    <% end %>
  </div>

  <div>
    <%= link_to 'back', apartments_path %>
  </div>
</div>
