<!DOCTYPE html>
<html>
  <head>
    <title>Rms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="grid grid-cols-4 gap-4">
    <div class="col-span-1">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="col-span-3">
      <div class="bg-slate-500">
        <%= yield %>
      </div>
    </div>  
</body>

</html>
