<!DOCTYPE html>
<html>
  <head>
    <title>Rms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# devise links %>
    <% if tenant_signed_in? %>
      <%= button_to 'log out', destroy_tenant_session_path, method: :delete %>
    <% else %>
      <%= link_to 'sign in', new_tenant_session_path %>
      <%= link_to 'sign up', new_tenant_registration_path %>
    <% end %>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
